* {
  font-size: 20px;
  font-family: monospace;
}
.form {
  width: 600px;
  margin: auto;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  border: 2px solid orange;
}
.form input {
  width: 480px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.form button {
  width: 100px;
  border-radius: 10px;
  margin-left: 5px;
  cursor: pointer;
}
